@import "./variables.scss";
@import "./projects.scss";

body {
  background-image: url("/assets/images/bg.png");
}
.v-centered-container {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main-heading {
  font-size: 3.6rem;
  font-family: $font_heading;
/*  text-decoration: underline;*/
}

a.special-link {
  color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;  
    }
}

.custom-cv-box {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 50%;
  width: 200px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: black;
  color: white;
  transform: translateX(-50%);
  text-align: center;
  font-size: xx-large;
  font-family: 'IBM Plex Mono', monospace;
}

.custom-character-img-box {
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 0;
  left: 50%;
  color: white;
  transform: translateX(-50%);
  font-size: xx-large;
  font-family: 'IBM Plex Mono', monospace;
  overflow: hidden;
  transition-duration: 500ms;

  img {
    width: 100%;
  }

  &:hover {
    height: 200px;
    transition-duration: 500ms;
  }
}

.image-large-width {
  width: 100%;
}

.mt-large {
  margin-top: 7rem;
}