@font-face {
    font-family: 'Acid';
    src: url("/assets/fonts/acid_italic.otf");
}

$font_heading: 'IBM Plex Mono', monospace;
$font_text: 'Acid';
$color_golden: #c0983a;
$color_grey: #686b78;
$color_grey_dark: #363636;
$color_purple: #633482;